---
// Assets
import Dots from "@/components/assets/Dots.astro";
import Burst from "@/components/assets/Burst.astro";
import Kicker from "@/components/assets/Kicker.astro";
import SectionDivider from "@/components/assets/SectionDivider.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section class="relative overflow-hidden">
    <Burst />
    <Dots />
    <SectionDivider />
    <Wrapper variant="standard" class="relative pt-30 lg:pt-60 pb-28">
      <div class="items-start grid grid-cols-1 lg:grid-cols-8 gap-y-8">
        <Kicker> {frontmatter.customer}</Kicker>
        <div class="lg:col-span-7 text-balance">
          <Text
            tag="h1"
            variant="displayMD"
            class="font-display text-base-900 lg:-mt-1"
          >
            {frontmatter.customer}
          </Text>
          <Text tag="p" variant="textBase" class="mt-1 text-base-700">
            {frontmatter.about}
          </Text>
        </div>
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-1">
        {
          frontmatter.results.map((result) => (
            <div class="p-8 bg-dots">
              <div class="flex flex-col justify-center text-center p-8 bg-white aspect-square hover:bg-burst gap-2">
                <Text tag="p" variant="textSM" class="text-base-600 ">
                  {result}
                </Text>
              </div>
            </div>
          ))
        }
      </div>
      <dl class="flex flex-col mt-12">
        {
          Object.entries(frontmatter.details).map(([key, value]) => (
            <div class="flex items-center justify-between even:bg-base-50 p-4">
              <dt>
                <Text
                  tag="h4"
                  variant="textXS"
                  class="uppercase  text-base-600"
                >
                  {key}
                </Text>
              </dt>
              <dd>
                <Text tag="p" variant="textSM" class="text-base-900 ">
                  {value}
                </Text>
              </dd>
            </div>
          ))
        }
      </dl>
    </Wrapper>
    <figure class="px-8 py-60 text-center text-balance relative bg-burst-left">
      <Dots />
      <SectionDivider />
      <SectionDivider flipped={true} />
      <blockquote>
        <Text
          tag="p"
          variant="displayMD"
          class="max-w-2xl mx-auto font-medium tracking-tight text-base-900"
        >
          "{frontmatter.testimonial}"
        </Text>
      </blockquote>
    </figure>
  </section>
  <section>
    <Wrapper variant="standard" class="py-24">
      <dl class="items-center grid grid-cols-1 md:grid-cols-2 gap-1">
        {
          frontmatter.challengesAndSolutions.map((item) => (
            <div class="p-8 bg-dots">
              <div class="flex flex-col justify-between p-8 bg-white aspect-square hover:bg-burst gap-2">
                <dt>
                  <Text
                    tag="h3"
                    variant="textXS"
                    class="uppercase text-base-900"
                  >
                    {item.title}
                  </Text>
                </dt>
                <dd>
                  <Text tag="p" variant="textSM" class="mt-1 text-base-600">
                    {item.content}
                  </Text>
                </dd>
              </div>
            </div>
          ))
        }
      </dl>
      <div class="max-w-xl mx-auto">
        <Wrapper variant="prose" class="mt-12"><slot /></Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
